<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title><%= app_name %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="<%= app_name %>">
    <meta name="author" content="seawolfsanctuary">

    <!-- Le styles -->
    <link href="css/bootstrap.css" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="css/bootstrap-responsive.css" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="/js/html5shiv.js"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
                    <link rel="apple-touch-icon-precomposed" href="/ico/apple-touch-icon-57-precomposed.png">
                                   <link rel="shortcut icon" href="/ico/favicon.png">

    <script src="js/jquery-1.7.2.min.js"></script>
    <script src="js/carousel.js"></script>
    <script src="js/lightbox.js"></script>

    <link rel="stylesheet" href="css/carousel-style.css" />
    <link rel="stylesheet" href="css/carousel.css" />
    <link rel="stylesheet" href="css/lightbox.css" />

    <link rel="stylesheet" href="css/site.css" />
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <!--button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button-->
          <a class="brand" href="/"><%= app_name %></a>
          <div class="nav-collapse collapse">
            <p class="navbar-text pull-right"><%= app_about %></p>
            <!--ul class="nav">
              <li class="active"><a href="/">Home</a></li>
              <li><a href="<%= download_path %>">Download</a></li>
              <li><a href="<%= homepage_path %>">Contribute</a></li>
            </ul-->
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Navigation</li>
              <li class="active"><a href="/">Home</a></li>
              <li><a href="<%= download_path %>">Download</a></li>
              <li><a href="<%= trello_url %>">Progress Board</a></li>
              <li><a href="<%= issues_path %>">Report an Issue</a></li>
              <li><a href="<%= homepage_path %>/">Contribute</a></li>
            </ul>
          </div><!--/.well -->
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Resources</li>
              <li><a href="<%= fdroid_path %>">F-Droid app</a></li>
              <li><a href="<%= fdroid_app_path %>">KT on F-Droid</a></li>
              <li><a href="<%= irc_path %>">IRC channel</a></li>
            </ul>
          </div><!--/.well -->
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Screenshots</li>
              <div id="screenshots-carousel" class="m-carousel m-fluid m-carousel-photos">
                <div id="screenshots-carousel-inner" class="m-carousel-inner">
                  <div class="m-item m-active"><a href="/img/screenshots/1-menu.png" rel="lightbox[screenshots]" title="Main Menu"><img src="/img/screenshots/1-menu.png" title="Main Menu" /></a></div>
                  <div class="m-item"><a href="/img/screenshots/2-add.png" rel="lightbox[screenshots]" title="Add Journey - Departure Board"><img src="/img/screenshots/2-add.png" title="Add Journey - Departure Board" /></a></div>
                  <div class="m-item"><a href="/img/screenshots/2a-add.png" rel="lightbox[screenshots]" title="Add Journey - Station AutoCompletion"><img src="/img/screenshots/2a-add.png" title="Add Journey - Station AutoCompletion" /></a></div>
                  <div class="m-item"><a href="/img/screenshots/3-journey.png" rel="lightbox[screenshots]" title="Add Journey - Departure Board and Timetable selection"><img src="/img/screenshots/3-journey.png" title="Saved Journeys" /></a> </div>
                  <div class="m-item"><a href="/img/screenshots/4-gallery.png" rel="lightbox[screenshots]" title="Train Classes - Gallery"><img src="/img/screenshots/4-gallery.png" title="Train Classes - Gallery" /></a></div>
                  <div class="m-item"><a href="/img/screenshots/5-stats-info.png" rel="lightbox[screenshots]" title="Statistics - Train Classes"><img src="/img/screenshots/5-stats-info.png" title="Train Classes - Information" /></a></div>
                </div>
              </div>
            </ul>
          </div>
        </div><!--/span-->
        <div class="span9">
          <div class="hero-unit">
            <h1><%= app_name %></h1>
            <p><%= app_subhead %></p>
            <p id="header_btn">
              <a href="<%= download_path %>" class="btn btn-primary btn-large">Download &raquo;</a>
              <a href="<%= trello_url %>" class="btn btn-info btn-large">Trello Board &raquo;</a>
            </p>
          </div>
          <div class="row-fluid">
            <div class="span12">
              <h2>Features</h2>
              <ul>
                <li><strong>auto-complete</strong> station names and three-letter codes with a list of suggestions</li>
                <li>save typing by picking a journey from the <strong>departure board</strong> and have the stations and times auto-completed</li>
                <li>share your journeys with a <a href="https://foursquare.com/">Foursquare</a> <strong>check-in</strong> as you depart or arrive at a station</li>
                <li>browse some information and make notes on <strong>train types</strong>, and download a photo for easy identification</li>
                <li><strong>import &amp; export</strong> your journeys as CSV, so you can easily back-up your data in case something goes wrong</li>
                <li>help <strong>bug-fixing</strong> by sending geeky data if the app crashes</li>
              </ul>
              <!--p><a class="btn" href="#">View details &raquo;</a></p-->
            </div><!--/span-->
          </div><!--/row-->
          <div class="row-fluid">
            <div class="span6">
              <h2>Downloads</h2>
              <p>Android v2.1 (Eclair) to v4.4 (KitKat) required. Support for newer versions is in development.</p>
              <p>Downloads (APK files) are provided by <a href="<%= fdroid_path %>">F-Droid</a>, a catalogue of Free and Open Source Software applications for the Android platform. You can either <a href="<%= download_path %>">download the APK</a> or use the <a href="<%= fdroid_client_path %>">F-Droid app</a> to browse, install and update a range of software including <%= app_name %>.</p>
            </div><!--/span-->
            <div class="span6">
              <h2>Problems?</h2>
              <p><%= app_name %> is actively-maintained and under development; a high-level roadmap is available at the <a href="<%= trello_url %>">Trello board</a>.
                  Bug reports, comments and questions are welcome at the <a href="<%= issues_path %>">Issue Tracker</a>.
                  Questions can also be asked there, if you pick <span style="font-style: italic;">task</span> from the <span style="font-style: italic;">Kind</span> selector.)</p>
              <p>Developers and users can sometimes be found in the <a href="<%= irc_path %>">Freenode#keepingtracks IRC channel</a>.</p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; seawolfsanctuary <%= Time.now.year %></p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="/js/jquery.js"></script>
    <script src="/js/bootstrap-transition.js"></script>
    <script src="/js/bootstrap-alert.js"></script>
    <script src="/js/bootstrap-modal.js"></script>
    <script src="/js/bootstrap-dropdown.js"></script>
    <script src="/js/bootstrap-scrollspy.js"></script>
    <script src="/js/bootstrap-tab.js"></script>
    <script src="/js/bootstrap-tooltip.js"></script>
    <script src="/js/bootstrap-popover.js"></script>
    <script src="/js/bootstrap-button.js"></script>
    <script src="/js/bootstrap-collapse.js"></script>
    <script src="/js/bootstrap-carousel.js"></script>
    <script src="/js/bootstrap-typeahead.js"></script>

    <script src="/js/site.js"></script>
    <script>$('.m-carousel').carousel()</script>

    <script src="/js/ga.js"></script>
  </body>
</html>
